.app{
width: 100vw;
height: 100vh;
padding:1rem;
}
.bodySection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.cardSection{
    display: flex;
    align-items: center;
   justify-content: space-between;
}
